<div class='columns is-multiline'>
  <% @users.each do |u| %>
    <div class='column'>
      <div class='card-header'>
        <div class="card-image">
          <figure class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/64x64.png" alt="Placeholder image">
          </figure>
        </div>
        <p class='card-header-title has-text-white'>
          <%= u.name %>
        </p>
        <% if current_user.pending_accept_friends.include?(u) %>
          <%# need to pull related friendship object %>
          <%= button_to 'accept', accept_friend_path(current_user.friendships.by_inviter(u).first), method: :post %>
        <% elsif current_user.pending_invite_friends.include?(u)%>
          <%= button_to 'invited' %>
        <% else %>
          <%= button_to 'add friend', request_friend_path(u), method: :post %>
        <% end %>  
      </div>  
    </div>
  <% end %>
</div>  