<section class='hero is-black is-fullheight'>
    <div class='hero-head'>
      <p class='title'>edit profile</p>
    </div>
    <div class='hero-body'>
      <div class='section'>
        <div class='container'>
          <div class='columns is-centered'>
            <div class='column'>
      
              <%= render 'form' %>
            </div>
          </div>
        </div>
    </div>
</section>
  
