<aside class='menu has-background-black has-text-white'>
  <p class='menu-label'>
  right nav longer title to test
  </p>
  <ul class='menu-list has-text-success'>
    <li><%= link_to 'find friends', users_path, class: 'has-text-success' %></li>
    <li><a class='has-text-success'>other stuff</a></li>
    <li><a class='has-text-success'>other stuff</a></li>
    <li><a class='has-text-success'>other stuff</a></li>
    <li><a class='has-text-success'>other stuff</a></li>
    <li><a class='has-text-success'>other stuff</a></li>
   
  </ul>
</aside>  