<div class='columns'>
  <div class='column is-one-fifth px-5 pt-5'>
  </div>
  <div class='column is-three-fifths px-5 pt-5'>
  <%= render 'feed' %>
  </div>
  <div class='is-one-fifth px-5 pt-5'>
  </div>
</div>