<div class='columns px-5 pt-5'>
  <div class='column'>
    <%= render 'left'%>
  </div>
  <div class='column is-three-fifths'>  
    <%= render 'feed'%>
  </div>
  <div class='column'>
    <%= render 'right' %>
  </div>
</div>